<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trang Chủ{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <h3>Quản Lý Phòng</h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('staff_home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('staff_booking') }}">Lập Phiếu Đặt Phòng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('staff_rental') }}">Lập Phiếu Thuê Phòng</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('search') }}">Tìm kiếm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout_staff') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container">
        {% block content %}
        {% endblock %}
</div>

</body>
</html>